doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Woom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css", attr)
    body
        header
            h1 Woom📹
        main 
            form#nickname
                input(type = "text", placeholder = "choose a nickname.", required) 
                button Save
            form#message
                input(type = "text", placeholder = "write a message.", required) 
                button Send
            ul 
        script(src="/public/js/app.js")