doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Woom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css", attr)
    body
        header
            h1 Woom📹
            button submit
        script(src="/public/js/app.js")